.selection-button { 
    color: black;
    font-size: 25px;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#scoringDiv {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    white-space: pre-line;
    text-align: center;
}